extends ../template

block js
	if users && users.length > 0
		script(type='text/javascript').
			var local_users =!{JSON.stringify(users)}; 
	else
		script(type='text/javascript').
			var local_users = [];

	script(src='/js/controllers/settings_user_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller='settingsUsersController')
		.row
			h1.page-header.col-lg-12
				.row
					.col-sm-9
						span Accounts
					.col-sm-3
						a.btn.btn-default.btn-lg(ng-click='newUser()') New User
		.row
			.col-sm-9(ng-show='users != null && users.length > 0')
				.table-responsive
					table.table
						thead
							tr.default
								th Name
								th Username
								th Department 
								th Email
								th Access Level
						tbody
							tr(ng-repeat='user in users' ng-show='user.username != "'+user.username+'"')
								td {{user.name}}
								td {{user.username}}
								td {{user.department}}
								td {{user.email}}
								td {{(user.access == 0) ? "Admin" : "User"}}
								td
									.btn-group
										a.btn-danger.btn.btn-sm(ng-click='removeUser(user)')
											span.glyphicon.glyphicon-remove
										a.btn-success.btn.btn-sm(ng-click='newUser(user)')
											span.glyphicon.glyphicon-pencil
			.col-sm-9(ng-show='users.length <= 0')
				p No Users at this time.
		include add_user_modal