.modal.fade#sampleModal(tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", ng-click="reload()")
					span(aria-hidden="true") &times;
					span.sr-only Close
				h4.modal-title.modal-primary(id="modalTitle") {{(update) ? "Update Exsisting User." : "Add a New user"}}

			style.
				#colorDisplay {
					width: 20px;
					height: 20px;
					border-radius: 100%;
					border: solid 2px #000;
				}
				#colorBox {
					background: #999;
					padding: 10px;
					border: solid 3px #000;
					border-radius: 10px;
					width: 150px;
					margin: auto;
				}
				#colorSample {
					border-radius: 100%;
					-moz-border-radius: 100%;
					-webkit-border-radius: 100%;
					border: 4px solid #000000;
					background-color: rgba(255, 255, 255, 0.57);
					width: 100px;
					height: 100px;
					margin: auto;
				}
			.modal-body
				form.form-horizontal(name='userForm')
					.form-group
						label.col-sm-4 Name:
						.col-sm-6
							input.form-control(type='text', ng-model='user.name', placeholder="Name", required="")
					.form-group
						label.col-sm-4 Username:
						.col-sm-6
							input.form-control(type='text', ng-model='user.username', placeholder="Username", required="")
					.form-group
						label.col-sm-4 Department:
						.col-sm-6
							input.form-control(type='text', ng-model='user.department', placeholder="E.g. Cardiology", required="")
					.form-group
						label.col-sm-4 Email:
						.col-sm-6
							input.form-control(type='email', ng-model='user.email', placeholder="email@email.com", required="")
					.form-group
						label.col-sm-4 Access:
						.col-sm-6
							select.form-control(ng-model='user.access')
								option(value='0') Admin
								option(value='1') User
					.form-group(ng-show='update')
						label.col-sm-4 Update Password:
						.col-sm-3
							select.form-control(ng-model='update_password')
								option No
								option Yes

					.form-group(ng-show='update_password')
						label.col-sm-2 Password:
						.col-sm-5
							input.form-control(type='password', ng-model='password', ng-required='!update')			
						.col-sm-5
							input.form-control(type='password', ng-model='password2', ng-required='!update')


					.row
						.col-sm-12
							div(ng-show='update_password')
								p.text-center(style='color:red', ng-show='password != password2 && password != ""') Passwords Don't Match
								p.text-center(style='color:red', ng-show='password.length < 6') Password must be longer then 6 letters!
					//- Depending on the selected value, we should have a line under saying
					//- The user cannot access Accounts page
					//- The Administrator can add/delete users
			.modal-footer
				.row
					.col-sm-3
						a.btn-warning.btn.btn-block(ng-click="reload()", ng-disabled='loading') Back
					.col-sm-3.pull-right
						a.btn-success.btn.btn-block(ng-disabled='!userForm.$valid || loading', ng-click='createUser()') {{(loading) ? "Loading..." : "Save"}}
