extends ../template

block js
	if sample_types && sample_types.length > 0
		script(type='text/javascript').
			var local_sample_types =!{JSON.stringify(sample_types)}; 
	else
		script(type='text/javascript').
			var local_sample_types = [];

	script(src='/js/controllers/sample_types_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller='sampleTypesController')
		.row
			h1.page-header.col-lg-12
				.row
					.col-sm-9
						span Sample Types
					.col-sm-3
						a.btn.btn-default.btn-lg(ng-click='newSample()') Add
		.row
			.col-sm-12(ng-show='sample_types.length')
					.panel.panel-default
						.panel-heading
							h4 Sample Types
						ul.list-group
							li.list-group-item(ng-repeat='sample in sample_types')
								.row
									.col-sm-6
										h5 {{sample.name}}
									.col-sm-3
										.sample(style='background-color:{{sample.color}}')
									.col-sm-3
										.btn-group(ng-show='sample.count == 0')
											a.btn-danger.btn.btn-sm(ng-click='removeSample(sample)')
												span.glyphicon.glyphicon-remove
											a.btn-success.btn.btn-sm(ng-click='newSample(sample)')
												span.glyphicon.glyphicon-pencil
										h5(ng-show='sample.count > 0', style='color: #ccc;') Type in use

			p.text-center(ng-show='sample_types.length <= 0') No Sample Types

		include sample_type_modal