.modal.fade#sampleModal(tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" ng-click='reload()')
					span(aria-hidden="true") &times;
					span.sr-only Close
				h4.modal-title.modal-primary(id="modalTitle") Sample Type

			style.
				#colorDisplay {
					width: 20px;
					height: 20px;
					border-radius: 100%;
					border: solid 2px #000;
				}
				#colorBox {
					background: #999;
					padding: 10px;
					border: solid 3px #000;
					border-radius: 10px;
					width: 150px;
					margin: auto;
				}
				#colorSample {
					border-radius: 100%;
					-moz-border-radius: 100%;
					-webkit-border-radius: 100%;
					border: 4px solid #000000;
					background-color: rgba(255, 255, 255, 0.57);
					width: 100px;
					height: 100px;
					margin: auto;
				}
			.modal-body
				form.form-horizontal(name='sampleForm')
					.form-group
						label.col-sm-4 Sample Name:
						.col-sm-6
							input.form-control(type='text', ng-model='sample.name', required="")
					.form-group
						label.col-sm-4 Color Code:
						.col-sm-6
							.input-group
								input.form-control(type='text', colorpicker="hex", ng-model='sample.color', required="")
								span.input-group-addon
									#colorDisplay(style='background-color:{{sample.color}}')

					.form-group.text-center
						label
							h5 Sample Preview
							#colorBox
								#colorSample(style='background-color:{{sample.color}}')
						
					
			.modal-footer
				.row
					.col-sm-3
						a.btn-warning.btn.btn-block(ng-click='reload()', ng-disabled='loading') Back
					.col-sm-3.pull-right
						a.btn-success.btn.btn-block(ng-disabled='!sampleForm.$valid || loading', ng-click='createSample()') {{(loading) ? "Loading..." : "Save"}}
					