extends ../template

block js
	script(src='/js/controllers/surveys_view_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller='surveysViewController')
		.row
			h1.page-header.col-lg-12
				.row
					.col-sm-9
						span Surveys
					.col-sm-3
						a.btn.btn-custom.btn-lg(href='/settings/survey/create') Create
		.row
			if surveys && surveys.length > 0
				style.
					@media (max-width: 700px) {
							.buttonRows.small {
								display:table-cell;
							}
							.buttonRows.other {
								display:none;
							}
							

						}
					@media (min-width: 700px) {
							.buttonRows.small {
								display:none;
							}
							.buttonRows.other {
								display:table-cell;
							}
							
						}
				table.table.table-condensed.table-bordered
					thead
						tr.text-center(style="background-color: rgb(44, 164, 165); color:#fff")
							th(rowspan="2").col-sm-1.buttonRows.small
							th(rowspan="2").col-sm-4.text-center Name
							th(rowspan="2").col-sm-1.text-center Status
							th(colspan="2").text-center.col-sm-1 Questions
							th(rowspan="2").col-sm-1.buttonRows.other
						tr.text-center(style="background-color: rgb(44, 164, 165); color:#fff")
							th.text-center Normal
							th.text-center Advanced
					tbody
						each survey in surveys
							-var stitle = jsesc(survey.title);
							tr
								td.text-center.buttonRows.small
									.btn-group
										a.btn-danger.btn.btn-sm(ng-click="removeSurvey('"+stitle+"','"+survey._id+"')")
											span.glyphicon.glyphicon-remove
										a.btn-success.btn.btn-sm(href="/settings/survey/"+survey._id+"/update")
											span.glyphicon.glyphicon-pencil
										a.btn-primary.btn.btn-sm(href="/settings/survey/"+survey._id+"/preview", target='_blank')
											span.glyphicon.glyphicon-search
								td
									h3 Survey: 
										= survey.title
										br
										if survey.description
											small="Description: " + survey.description
								td.text-center
									h4(style=((survey.status == "Completed") ? "color: #5cb85c" : "color: #f0ad4e"))
										= survey.status
								td.text-center
									h3= survey.questions.length
								td.text-center
									h3= survey.advanced
								td.text-center.buttonRows.other
									.btn-group
										a.btn-danger.btn.btn-sm(ng-click="removeSurvey('"+stitle+"','"+survey._id+"')")
											span.glyphicon.glyphicon-remove
										a.btn-success.btn.btn-sm(href="/settings/survey/"+survey._id+"/update")
											span.glyphicon.glyphicon-pencil
										a.btn-primary.btn.btn-sm(href="/settings/survey/"+survey._id+"/preview", target='_blank')
											span.glyphicon.glyphicon-search


			else
				.col-lg-12
					h3.text-center There are no Surveys
