.modal.fade#tubeModal(tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" ng-click='reload()')
					span(aria-hidden="true") &times;
					span.sr-only Close
				h4.modal-title.modal-primary(id="modalTitle") Tube Size

			.modal-body
				form.form-horizontal(name='tubeForm')
					.form-group
						label.col-sm-4 Tube Name:
						.col-sm-6
							input.form-control(type='text', ng-model='tube.name',required="")
					.form-group
						label.col-sm-4 Tube Description:
						.col-sm-6
							input.form-control(type='text', ng-model='tube.description',placeholder="Tube size description", required="")
							
			.modal-footer
				.row
					.col-sm-3
						a.btn-warning.btn.btn-block(ng-click='reload()', ng-disabled='loading') Back
					.col-sm-3.pull-right
						a.btn-success.btn.btn-block(ng-disabled='!tubeForm.$valid || loading', ng-click='createTube()') {{(loading) ? "Loading..." : "Save"}}
					