extends ../template

block js
	if tube_sizes && tube_sizes.length > 0
		script(type='text/javascript').
			var local_tube_sizes =!{JSON.stringify(tube_sizes)}; 
	else
		script(type='text/javascript').
			var local_tube_sizes = [];

	script(src='/js/controllers/tube_sizes_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller='tubeSizesController')
		.row
			h1.page-header.col-lg-12
				.row
					.col-sm-9
						span Tube Sizes
					.col-sm-3
						a.btn.btn-default.btn-lg(ng-click='newTube()') Add
		.row
			.col-sm-12(ng-show='tube_sizes.length')
					.panel.panel-default
						.panel-heading
							h4 Tube Sizes
						ul.list-group
							li.list-group-item(ng-repeat='tube in tube_sizes')
								.row
									.col-sm-3
										h5 {{tube.name}}
									.col-sm-6
										h5 {{tube.description}}
									.col-sm-3
										.btn-group
											a.btn-danger.btn.btn-sm(ng-click='removeTube(tube)')
												span.glyphicon.glyphicon-remove
											a.btn-success.btn.btn-sm(ng-click='newTube(tube)')
												span.glyphicon.glyphicon-pencil

			p.text-center(ng-show='tube_sizes.length <= 0') No Tubes Sizes

		include tube_size_modal