.container-fluid
	each answer, answerindex in root_question.answers
		-var ngModel = questionType+"s["+answerindex+"]";
		if root_question.specify && answer.specify && !root_question.advancedSpecify
			.col-sm-12
				.checkbox
					label(ng-init=ngModel+" = {value:false}")
						input(type='checkbox', ng-model=ngModel+".value",name=name_value, value=answer.name)
						span= answer.name
				.row(ng-show=ngModel+".value")
					.col-sm-12
						label.col-sm-4 Specify:
						.col-sm-8
							input(type='hidden', name=name_specify+"["+answerindex+"][type]", value="txt")
							input(type='hidden', name=name_specify+"["+answerindex+"][index]", value=answerindex)
							input(type='hidden', name=name_specify+"["+answerindex+"][name]", value=answer.name)
							input.form-control(type='text',ng-required=ngModel+".value", name=name_specify+"["+answerindex+"][value]", ng-model=ngModel+".specify")
		else
			.col-sm-4
				.checkbox
					label
						input(type='checkbox',name=name_value,value=answer.name)
						span= answer.name
