.modal.fade#dataModal(tabindex="-1", role="dialog", aria-labelledby="dataEntryLabel",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true")&times
					span.sr-only Close
				h4.modal-title(id="dataEntryLabel") Data Entry - {{(update) ? "Update" : "Add"}}
			.modal-body
				.container-fixed
					.row
						.col-sm-12
							.container-fluid
								.well.well-sm.col-sm-12
									form.form-group(name='dataForm')
										.col-sm-6
											label Title
											input.form-control(style="margin-bottom: 10px;", ng-model='file.title', type="text", placeholder="New image")
										.col-sm-12
											label Description
											input.form-control(style="margin-bottom: 10px;", type="text", placeholder="Echocardiogram", ng-model='file.description',required="")
										.col-sm-12
											input#input-20(type="file",name='imageUp' accept="image/jpg, image/png, image/bmp, application/pdf")
			.modal-footer
				.row
					.col-sm-3
						a.btn-warning.btn.btn-block(data-dismiss="modal", ng-disabled='loading') Back
					.col-sm-3.pull-right
						a.btn-success.btn.btn-block(ng-disabled='!dataForm.$valid || loading', ng-click='createFile()') {{(loading) ? "Loading..." : (update) ? "Update" : "Add"}}