extends ../template
block js
block content
	#page-wrapper.container-fluid
		h1.page-header
			.row
				.col-sm-9
					span Samples Details
				.col-sm-3
					a.btn.btn-custom.btn-lg(href='../samples/dataentry') 
						span Data Entry
		.row.two
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-12
								h4 Samples Storage Details:
					.panel-body
						.row
							.col-md-12
								.table-responsive
									table.table
										thead
											tr
												th Freezer
												th Shelf
												th Rack
												th Drawer
												th Box
												th Box Address
												th Type
												th

										tbody
											tr
												td 1
												td 1
												td 1
												td 1
												th 1
												th A0
												th Plasma
												th
													.btn-group
														a.btn-danger.btn.btn-sm
															span.glyphicon.glyphicon-remove
														a.btn-success.btn.btn-sm(href="#")
															span.glyphicon.glyphicon-pencil
													
											tr
												td 1
												td 1
												td 1
												td 1
												th 1
												th A1
												th Plasma
												th
													.btn-group
														a.btn-danger.btn.btn-sm
															span.glyphicon.glyphicon-remove
														a.btn-success.btn.btn-sm(href="#")
															span.glyphicon.glyphicon-pencil
											tr
												td 1
												td 1
												td 1
												td 1
												th 1
												th A2
												th Plasma
												th
													.btn-group
														a.btn-danger.btn.btn-sm
															span.glyphicon.glyphicon-remove
														a.btn-success.btn.btn-sm(href="#")
															span.glyphicon.glyphicon-pencil
						.row
							.col-md-12
								button.btn.btn-warning.pull-left
									span.glyphicon.glyphicon-print(style='margin-right:10px')
									| Print
								button.btn.btn-info.pull-right 
									span.glyphicon.glyphicon-tags(style='margin-right:10px')
									| Labels
		.row
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-10
								h4 Survey Results:
							.col.md-1
								a.btn.btn-warning(href="#",data-target='#surveyPicker', data-toggle='modal')
									| Add Survey
									span.glyphicon.glyphicon-plus(style="margin-left:10px")
									
					.panel-body
						.row
							.col-md-12
								.panel-group#accordion
									.panel.panel-default
										.panel-heading
											h4.panel-title 
												a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne", style="color:#2CA4A5;") Working Diagnosis - 01/08/2014
									
										#collapseOne.panel-collapse.collapse.panel-info
											.panel-body
												.row
													.col-md-12
															.table-responsive
															table.table
																thead
																	tr
																		th Question
																		th Answer
																		th 

																tbody
																	tr
																		td Age 
																		td 65
																		th
																			btn-group
																				a.btn-success.btn.btn-sm
																					span.glyphicon.glyphicon-pencil
			//include ../patients/surveypicker.jade
								