doctype html
html(lang="en", ng-app="objmailApp")
	head
		include template/head
		include template/favicons
			title BioBank Login
	body.login-page
		.container 
			.row.logo
				.col-md-4.col-md-offset-4 
					img(src="images/logo.png" class="img-responsive login" alt="BioBank Logo")
			.row.login 
				.col-md-4.col-md-offset-4 
					if message
						p.alert(class='alert-'+message.status)= message.message
					.login-panel.panel.panel-default 
						.panel-heading 
							h3.panel-title Please Sign In
						if redirect
							- var red = "?&redirect="+redirect
						else
							-var red = "";
						.panel-body 
							form(role="form", method="post", action='/login'+red)
								.form-group 
									input.form-control(placeholder="Username" name="username" type="text" autofocus)
								.form-group 
									input.form-control(placeholder="Password" name="password" type="password" value="")

								button.btn.btn-lg.btn-custom.btn-block(type='submit') Login
		.footer 
			.container 
				p.text-muted 2014 Byte IT Solutions (BITS)  
					span.glyphicon.glyphicon-copyright-mark

			script(src="/js/jquery.min.js")
			script(src="/js/bootstrap.min.js")
			script(src="/js/datepicker.js")
			script(src="/js/highcharts.js")
			script(src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false")
			script(src="/js/angular.min.js")
			script(src="/js/angular_autocomplete.js")