extends template
block content
	#page-wrapper.container-fluid
		.row
			h1.page-header.col-lg-12
				.row
					.col-sm-9
						span No Access
					.col-sm-3
						a.btn.btn-primary.btn-lg(href='/') Back
		.row
			p.text-center You Dont Have Access to this page!