doctype html
html(lang="en", ng-app="bioApp")
	head
		include template/head
		include template/favicons
			title System
	body
		#wrapper
			include template/navbar
			div(ng-cloak)
				block content

		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/bootbox.js")
		script(src="/js/fileinput.min.js")

		script(src="/js/angular.min.js")
		script(src="/js/angular-animate.min.js")
		script(src="/js/angular_colorpicker.js")
		script(src="/js/angular_autocomplete.js")
		script(src="/js/angular_uibootstrap.js")
		script(src="/js/metisMenu.min.js")
		script(src="/js/theme.js")
		script(src="/js/morris/raphael.min.js")
		script(src="/js/morris/morris.min.js")
		script.
			var bioApp = angular.module('bioApp', ['ui.bootstrap','ngAnimate','ngAutocomplete','colorpicker.module']);


		block js

