extends ../template

block content
	#distroyTag.doPrint1 DESTROY AFTER ACCESSING FREEZER
	script(type='text/javascript').
		deleteConfirm = function(callback)
		{	
			bootbox.confirm("Have you removed all samples from the freezer!", function(result) {	
				if(result)			
					bootbox.confirm("Do you wish to delete this patient and all samples?", function(result) {
						if(result)
						{
							bootbox.confirm("Are you sure, THIS WILL NEVER BE UNDONE!", function(result) {
								callback(result)
							}); 
						}
						else
						{
							callback(false)
						}
					}); 
			});
		}

		function deletePage(){
			var d = new Date().toDateString().split(" ").slice(1).join("-");
			deleteConfirm(function(result){
				if(result)
					location.replace('/patient/donations/!{patient._id}/delete/'+d)
			})
		}
	style.
		.sample.small-sample {
		    width: 15px;
		    height: 15px;
		    border-width: 1px;
		    float: none;
		    display:inline-block;
		}
		#distroyTag {
			position: absolute;
			top: 90px;
			right: 0px;
			width:100%;
			opacity: 0.1;
			z-index: 99;
			font-size: 100px;
			text-align: center;
		}
	#page-wrapper.container-fluid
		h1.page-header
			.row
				.col-sm-10
					span Patient Details
				.col-sm-1.dontPrint1
					a.btn.btn-warning.pull-right(href='/patient/'+patient._id) Back

		.row
			.col-sm-6
				include ./patient_details_internal.jade
			.col-sm-6
				p.text-center(style='font-size: 2em;color: #bbb;') All the Patients information along with their samples will be removed!

		if donations && donations.length > 0
			h1.page-header
				.row
					.col-sm-12
						span Sample Details
			each donation in donations
				.row.two
					.col-md-12
						.panel.panel-primary
								.panel-heading
									.row
										.col-md-12
											h4 Samples Storage Details:
								.panel-body
									li.list-group-item
										.row
											.col-md-12
												include ../donation/donation_delete
		li.list-group-item.dontPrint1
			.row
				.col-md-12
					h5.text-center
						| Are You Sure you Want to remove all these samples and Patient Data
						input(type="checkbox", ng-model='confirm', style='margin-left:10px')
					if donations && donations.length > 0
						p.text-center
							b Note: 
							| Please print all sample locations before removing.
			.row
				.col-md-12
					if donations && donations.length > 0
						button.btn.btn-primary.pull-left(onclick="window.print()")
							span.glyphicon.glyphicon-print(style='margin-right:10px')
							| Print PDF
					a.btn.btn-danger.pull-right(ng-disabled='!confirm', onclick='deletePage()')
						span.glyphicon.glyphicon-remove(style='margin-right:10px')
						| Delete