extends ../template
block js
	script(src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false")
	script(src="/js/datepicker.js")

	if edit && patient
		script(type='text/javascript').
			var local_patient =!{JSON.stringify(patient)}; 
	else
		script(type='text/javascript').
			var local_patient = null;

	script(src='/js/controllers/patient_form_controller.js')

block content
	#page-wrapper.container-fluid(ng-controller='patientFormController')
		.row
			.col-lg-12
				h1.page-header
					if edit
						| Edit 
					else
						| Add 
					| Patient
		.row
			.col-md-8
				.panel.panel-primary
					.panel-heading
						h4
							if edit
								| Edit 
							else
								| Add 
							| Patient:
					.panel-body
						form.patient(role="form", name='patientForm')
							.form-group
								.row
									.col-md-3
										label First Name:
									.col-md-9
										input.form-control(type="text", ng-model='patient.firstname' name="firstname", placeholder="First Name", required="")
							.form-group
								.row
									.col-md-3
										label Last Name:
									.col-md-9
										input.form-control(type="text", ng-model='patient.lastname' name="lastname", placeholder="Last Name", required="")
							.form-group
								.row
									.col-md-3
										label DOB:
									.col-md-9
										.input-append.date
											.input-group#datepicker(data-date="{{patient.dob}}",data-date-format="dd-mm-yyyy")
												input.form-control(type="text",disabled, ng-model='patient.dob')
												.input-group-addon
													span.glyphicon.glyphicon-calendar
							.form-group
								.row
									.col-md-3
										label Hospital Number:
									.col-md-9
										input.form-control(type="text", name="hospital_number", ng-model='patient.hospital_number' placeholder="Hospital Number", required="")
							.form-group
								.row
									.col-md-3
										label Address:
									.col-md-9
										input.form-control#Autocomplete(type="text", ng-autocomplete='address',details="auto_details",options="auto_options", name="address",  ng-model='patient.address', placeholder="Address", required="")
							.form-group
								.row
									.col-md-8
										label Has Consent Form been signed?
									.col-md-4
										input.form-control(type='checkbox', ng-model='checked',style='border: none;box-shadow: none;')

							.form-group
								.col-md-4.col-md-offset-4
									button.btn.btn-custom.btn-block(ng-click='createPatient()', ng-disabled='!patientForm.$valid || !checked')
										= (edit) ? "Update" : "Create"
										