.panel-group#accordion
	if donations && donations.length>0
		each donation in donations
			.panel.panel
				.panel-heading
					.row
						.col-md-5 
							h4.panel-title 
								a(href="/sample/details/"+donation._id, style="color:#2CA4A5;")= "Taken: "+dateChange.nicestr(donation.date)
						.col-md-7
							.btn-group
								a.btn.btn-primary(href="/sample/details/"+donation._id)
									span.glyphicon.glyphicon-search
								a.btn.btn-warning(href="#",data-target='#surveyPicker'+donation._id, data-toggle='modal')
									span.fa.fa-clipboard
				//- if donation.surveys && donation.surveys.length > 0
				//- 		.panel-body
				//- 			.row
				//- 				.col-md-12
				//- 					.panel-group#accordion
				//- 						each survey, index in donation.surveys
				//- 							.panel.panel-default
				//- 								.panel-heading
				//- 									h4.panel-title 
				//- 										a(data-toggle="collapse", data-parent="#accordion", href="#"+survey._id+index, style="color:#2CA4A5;") 
				//- 											.row
				//- 												.col-xs-12
				//- 													=survey.title
				//- 													="("+survey.results.length+")"
				//- 													=" - "+dateChange.goodstr(survey.created)

				//- 								.panel-collapse.collapse.panel-info(id=survey._id+index)
				//- 									.col-md-12
				//- 										.panel.panel-success(style='margin:10px')
				//- 											.panel-heading
				//- 												.row
				//- 													.col-xs-12
				//- 														h4 Survey Results
				//- 											ul.list-group
				//- 												each results, res_index in survey.results
				//- 													li.list-group-item
				//- 														.row
				//- 															.col-md-12
				//- 																h4(style='display:inline')=results.key 
				//- 																if (results.type == "mc" || results.type == "list") && results.value && results.value.split
				//- 																	=" - " + results.value.split("__").join(", ")
				//- 																else
				//- 																	=" - " + results.value
			include surveypicker_patients_modal