extends ../template

block js
	-var image = ""
	if patient.consent && patient.consent.hasImage
		-image = "<img src='"+patient.consent.location+"' class='file-preview-image' alt='Consent' title='Consent'>";
	script(src='/js/controllers/patient_details_controller.js')
	script.
		$("#input-20").fileinput({
			!{(image != "") ? 'initialPreview: ["'+image+'"],' : ""}
			browseClass: "btn btn-primary",
			uploadClass: "btn btn-success",
			removeClass: "btn btn-danger",
			showCaption: false,
			showRemove: false,
			showUpload: true,
		});
	script.
		surveys = !{JSON.stringify(surveys)};
block content
	#page-wrapper.container-fluid(ng-controller='patientDetailsController')
		.row
			.col-lg-12
				h1= conImage
				h1.page-header= patient.firstname + " " + patient.lastname
		.row
			.col-md-8
				.panel.panel-primary
					.panel-heading Patient Details:
					.panel-body
						.row
							.col-md-12
								-var consent = true;
								include ./patient_details_internal.jade
						.row
							.col-md-12
								if donations && donations.length>0
									span(style="font-weight:bold; padding-bottom: 20px;") Samples:
									include patient_donations
								else
									span(style="font-weight:bold; padding-bottom: 20px;") No samples found...
					.panel-footer
						.btn-group.text-center
							a.btn.btn-success(href="/patient/"+patient._id+"/edit")
								span.glyphicon.glyphicon-pencil(style='margin-right:10px')
								| Edit
							a.button.btn.btn-warning(href="/donation/"+patient._id)
								span.glyphicon.glyphicon-plus
								| Add Samples
							-var stitle = jsesc(patient.firstname + " " + patient.lastname);
							if donations && donations.length>0
								a.btn.btn-danger(href="/patient/donations/"+patient._id)
									span.glyphicon.glyphicon-remove(style='margin-right:10px')
										| Remove
							else
								a.btn.btn-danger(ng-click='deletePatient("'+stitle+'","'+deleteDate()+'","'+patient._id+'")')
									span.glyphicon.glyphicon-remove(style='margin-right:10px')
										| Remove
		include patient_consent_modal