ul.list-group
	li.list-group-item
		span(style="font-weight:bold;") First Name:
		span(style="margin-left:10px")=patient.firstname
	li.list-group-item
		span(style="font-weight:bold;") Last Name:
		span(style="margin-left:10px")=patient.lastname
	li.list-group-item
		span(style="font-weight:bold;") DOB:
		span(style="margin-left:10px")
			if patient.dob
				=patient.dob.toDateString()
			else
				="N/A"
	li.list-group-item
		span(style="font-weight:bold;") Hospital Number:
		span(style="margin-left:10px")=patient.hospital_number
	li.list-group-item
		span(style="font-weight:bold;") Address:
		span(style="margin-left:10px")=patient.address
		
	if consent
		li.list-group-item
			span(style="font-weight:bold; margin-right:10px") Consent Form:
			if patient.consent && patient.consent.hasImage
				.btn-group
					a.btn.btn-primary(href=patient.consent.location, target='_blank')
						| View
						span.glyphicon.glyphicon-search(style='margin-left:10px')
					a.btn.btn-success(href="", data-target='#consentForm', data-toggle='modal')
						| Edit
						span.glyphicon.glyphicon-pencil(style='margin-left:10px')
					a.btn.btn-danger(ng-click='removeImage("'+patient._id+'")')
						| Remove
						span.glyphicon.glyphicon-remove(style='margin-left:10px')

			else
				a.btn.btn-success(href="" , data-target='#consentForm', data-toggle='modal')
					| Upload
					span.glyphicons.notes_2