.modal.fade(id="consentForm", tabindex="-1", role="dialog", aria-labelledby="consentForm",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true") &times
					span.sr-only Close
				h4.modal-title#consentForm Consent Form:
			.modal-body
				form.container-fluid(action='/patient/image-upload/'+patient._id, method='post',enctype='multipart/form-data')
					.row
					input#input-20(type="file",name='pconsent' accept="image/jpg, image/png, image/bmp, application/pdf")

			.modal-footer
				button.btn.btn-default(type="button",data-dismiss="modal")
					span Close						