.modal.fade(id="surveyPicker"+donation._id, tabindex="-1", role="dialog", aria-labelledby="surveyPickerLabel",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true") &times
					span.sr-only Close
				h4.modal-title#surveyPickerLabel Pick a Survey:
			.modal-body(ng-init='currentSurvey = surveys[0]')
				select.form-control(ng-model='currentSurvey' ng-options='survey.title for survey in surveys')

			.modal-footer
				a.btn.btn-success(href="/donation/"+donation._id+"/survey/add/{{currentSurvey._id}}", ng-disabled='currentSurvey == null && currentSurvey._id == null')
					span Go
				button.btn.btn-default(type="button",data-dismiss="modal")
					span Close						