.container-fluid
	table.table.table-condensed
		thead
			tr
				th.text-center Freezer
				th.text-center Shelf
				th.text-center Rack
				th.text-center Drawer
				th.text-center Box
				th.text-center Address
				th.text-center Type
		tbody
			tr
				td.text-center 
					text.form-control 1
				td.text-center
					text.form-control 1
				td.text-center
					text.form-control 2
				td.text-center 
					text.form-control 3
				td.text-center 
					text.form-control 3
				td.text-center 
					text.form-control A-3
				td.text-center 
					select.form-control
						option P
	.row(style='margin-top:10px')
		- var n = 1;
		while n < 11
			.col-xs-1(style='padding:0px;')
				a.btn.btn-block.btn-default(ng-click="input.push('"+n+"')")
					span
						h2= n
			- n++;
	.row(style='margin-top:10px')
		- var n = 10;
		while n < 20
			.col-xs-1(style='padding:0px;')
				a.btn.btn-block.btn-default(ng-click="input.push('"+n.toString(20).toUpperCase()+"')")
					span
						h2= n.toString(20).toUpperCase()
			- n++;
	.row(style='margin-top:10px')
		.col-xs-6(style='padding:0px;')
			a.btn.btn-block.btn-primary Submit
		.col-xs-6(style='padding:0px;')
			a.btn.btn-block.btn-danger(ng-click='input.splice(input.length-1,1)')
				span.glyphicon.glyphicon-arrow-left
				span Delete

