extends ../template
block js
block content
	#page-wrapper.container-fluid
		h1.page-header
			.row
				.col-md-10 Search Results
		.row.two
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-11
								h4="Found: "+donations.length

							.col-md-1
								a.btn-custom.btn.btn-sm(href="/sample/lookup")
									| Back

					if donations && donations.length > 0
						ul.list-group
							each donation in donations
								li.list-group-item
									.row
										.col-md-8
											-var patient = (donation.patient) ? donation.patient.firstname + " " + donation.patient.lastname : "N/A";
											h4=" " + patient
												small(style='margin-left:10px')= "Taken: "+dateChange.nicestr(donation.date)
										.col-md-2
											p Samples: 
												b= donation.samples.length
										.col-md-2
											a.btn-warning.btn.btn-sm(href="/sample/details/"+donation._id) More
					else
						.panel-body
							p.text-center Search Redeemed no results.

						