
html {
  position: relative;
  min-height: 100%;
}
a {
  color: #2CA4A5;
}
a:hover {
  color:#333;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active{
  border-color:#2CA4A5;
}
body.login-page{
  background-color: #eee;
}
body {
  
}
.row.logo{
  margin-top:35px;
  
}
.row.login{
  margin-top:35px;
  
}
.row.one{
  border-bottom: 1px solid #eee;
}
.row.two{
  margin-top:35px;
  border-bottom: 1px solid #eee;
}

.row.three{
  margin-top:35px;
  padding-bottom:40px;
  border-bottom: 1px solid #eee;
}
.panel-primary>.panel-heading{
  background-color: #2CA4A5;
  border-color: #2CA4A5;
  background-image:linear-gradient(to bottom,#2CA4A5 0,#329B97 100%);
  
}
.btn.btn-default{
  color:#2CA4A5;
}
.panel-primary {
  border-color: #2CA4A5;
}
.panel-red .panel-heading{
  border-color:#A63331;
  background-color:#A63331;
}
.glyphicons:before{
 
  color:#2CA4A5;
}
.footer {
  padding-top:20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/*login form*/
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  
}


.form-signin button{
  max-width:200px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.img-responsive.login{
  margin-right:auto;
  margin-left:auto;
}
.container.signin{
  margin-top:80px;
}


/*customized btn*/
.btn-custom {
  background-color: #A63331;
  border-color: #A63331;
  color:#fff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #922d2b;
  border-color: #7f2725;
  color:#fff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #A63331;
  border-color: #A63331;
}
div.panel-heading.large {
	font-size:22px;
}
/*end customized btn*/
form.patient input {
	margin-left:0px;
}
.glyphicons.notes_2:before{
	color:#FFF;
	margin-left: 10px;
}
/*freezer view*/
#freezerBox {
	max-width: 1000px;
	height: auto;
	padding:6px;
	border-radius: 37px 37px 37px 37px;
	-moz-border-radius: 37px 37px 37px 37px;
	-webkit-border-radius: 37px 37px 37px 37px;
	border: 9px solid #000000;
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
.box1 {
	display: block;
	max-width: 700px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 4px solid #000000;
	background-color: rgba(255, 255, 255, 0.57);
}
.box1:hover,.box2:hover {
	background-color: rgba(255,255,255,0.85);
 	text-decoration:none;
}
.box2 a:hover{
	text-decoration:none;
}
a.box2, a.box1 h1{
	text-align: center;
	color:#000;
}

.box2 {
	height: 270px;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 4px solid #000000;
	background-color: rgba(255, 255, 255, 0.57);
}

.box2:hover {
background-color: rgba(255,255,255,0.75);
}

#shelfBox {
	padding:20px;
	border-radius: 37px 37px 37px 37px;
	-moz-border-radius: 37px 37px 37px 37px;
	-webkit-border-radius: 37px 37px 37px 37px;
	border: 9px solid #000000;
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );

}
.box2.small{
	height: 150px;
	
}
.sample{
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border: 4px solid #000000;
	background-color: rgba(255, 255, 255, 0.57);
	padding-bottom: 100%;
	width: 100%;
}
.list-group-item .sample {
	width: 30px;
	height: 30px;
	border-width: 3px;
	float: none; 
	padding: 0px;
}
/*end freezer view*/

@media screen and (max-width: 768px) {
       .box2 a h1 {
    font-size:25px;
    }
}

/*freezer boxes*/
.row-centered{
	text-align:center;
}

.col-centered{
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4x;
}
.sample.plasma{
	background-color: #CC00CC;
}
.sample.serum{
	background-color: #FFFF66;
}
.sample.buffy{
	background-color: #fff;
}
.sample.tissue{
	background-color: #3399CC;
}
.sample.dna{
	background-color: #FF0033;
}
.sample.rna{
	background-color: #993300;
}
.sample.other{
	background-color: #66CC33;
}
a.glyphicons.user_add::before{
	font-size: 30px;
}
a.list-group-item.surveyModal{

	color:#2CA4A5;
}
.glyphicon.glyphicons:before {
    font: 16px/1em 'Glyphicons Regular';
}
.glyphicons.cloud-upload:before{
	color: #fff;
	font-size: 12px;
}

/** animations **/
.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-show-add.ng-show-add-active,
.animate-show.ng-show-remove.ng-show-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-show {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.check-element {
  padding:10px;
  border:1px solid black;
  background:white;
}

@media screen {
	.doPrint1 {
		display: none !important;
	}

}
@media print {
    .dontPrint1 {
    	display: none !important;
    }

}

