style.
	div#hideBox {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		min-height: 100px;
		border-radius: 10px;
		border: solid;
	}

	div#insideBox {
		width: 90%;
		height: 100px;
		background: white;
		margin: 20px auto;
		border: solid;
		border-radius: 10px;
	}

.panel.panel-primary
	.panel-heading 
		h3.panel-title Box Infomation:
	.panel-body
		.row
			.col-md-3
				.row
					.col-md-12
						.panel.panel-primary(ng-show='pickedSample != null')
							.panel-heading.text-center
								h4
									.row
										.col-sm-6
											| Info:
										.col-sm-6(ng-show='pickedDonation != null')
											a.btn.btn-warning.btn-sm(href='/sample/details/{{pickedDonation._id}}') More
							ul.list-group(ng-show='pickedDonation != null')
								li.list-group-item
									b Date Taken:
									br
									| {{newDate(pickedDonation.date)}}
								li.list-group-item
									b Sample Type: 
									| {{pickedSample.type.name}}
								li.list-group-item
									b Connected Samples: 
									| {{pickedDonation.samples.length}}
							.panel-body(ng-hide='pickedDonation != null')
								p Sample Info Loading...

						.panel.panel-default
							.panel-heading.text-center
								h4 Legend
							ul.list-group
								li.list-group-item(ng-repeat='samplet in sampletypes')
									.row
										.col-sm-6
											h5 {{samplet.name}}
										.col-sm-6.pull-right
											.sample(style='background-color:{{samplet.color}}')
			.col-md-9
				#hideBox(ng-show='samples == null')
					#insideBox
						h2.text-center Loading Samples Please Wait.
				#freezerBox(style='background:#999', ng-hide='samples == null')
					table(style='width:100%')
						tr(ng-repeat='x in samples track by $index')
							td(ng-repeat='y in x')
								div(ng-show='y.sample && y.sample.type.color != null', style='{{(y.sample == pickedSample) ? "border: solid 3px red; border-radius: 100%;" : "margin: 3px;"}}')
									.sample(style="background-color: {{y.sample.type.color}}; display:block; cursor:pointer", ng-click='setSample(y.sample)')
								div(ng-hide='y.sample && y.sample.type.color != null',style='margin: 3px;')
									.sample