extends ../template
block js
	script.
		donationId = "!{donation._id}";
		samplesTypes = !{JSON.stringify(sampletypes)};
		freezers = !{JSON.stringify(freezers)};
		surveys = !{JSON.stringify(surveys)};
	script(src='/js/controllers/donation_sample_view_controller.js')		
block content
	#distroyTag.doPrint1 DESTROY AFTER ACCESSING FREEZER
	style.
		.sample.small-sample {
		    width: 15px;
		    height: 15px;
		    border-width: 1px;
		    float: none;
		    display:inline-block;
		}
		#distroyTag {
			position: absolute;
			bottom: 0px;
			right: 0px;
			width:100%;
			opacity: 0.1;
			z-index: 99;
			font-size: 100px;
			text-align: center;
		}
	#page-wrapper.container-fluid(ng-controller='donationSamplesView')
		
		h1.page-header
			.row
				.col-sm-9
					span Samples Details
					-var patient = (donation.patient) ? donation.patient.firstname + " " + donation.patient.lastname : "";
					-var id = (donation.patient) ? donation.patient._id : "" 
						if id != ""
							a.dontPrint1(href='/patient/'+donation.patient._id, title=patient, style= "font-size: 0.8em;")
								span.glyphicon.glyphicon-user(style= "margin-left: 10px;")
							small.doPrint1
								br
								= "P-id: "+donation.patient._id
								br
								= "Name: "
								b= patient
						else
							= " " + patient
						br
						small= " Donation Taken: " +dateChange.nicestr(donation.date)

				.col-sm-3
					.btn-group.btn-sm
						a.btn.btn-info.dontPrint1(href='/samples') 
							span Back
						a.btn.btn-danger(href='/sample/'+donation._id+'/dataentry')
							span Data Entry
		.row.two
			.col-md-12
				if donation.samples && donation.samples.length > 0
					.panel.panel-primary.dontPrint1
						.panel-heading
							.row
								.col-md-9
									h4 Samples Storage Details:
								.col-md-3.dontPrint1
									button.button.btn.btn-warning(ng-click='createModal()') Add Sample
										span.glyphicon.glyphicon-plus(style="margin-left:10px")
						.panel-body
							li.list-group-item
								.row
									.col-md-12
										include sample_table

							li.list-group-item.dontPrint1
								.row
									.col-md-12
										button.btn.btn-primary.pull-left(onclick="window.print()")
											span.glyphicon.glyphicon-print(style='margin-right:10px')
											| Print PDF
										a.btn.btn-info.pull-right(href='/donation/'+donation._id+'/export', target="_blank")
											span.glyphicon.glyphicon-tags(style='margin-right:10px')
											| Labels
			if donation.samples && donation.samples.length > 0
				div.doPrint1
					include sample_table
		.row.dontPrint1
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-10
								h4 Survey Results:
							.col.md-1
								a.btn.btn-warning(href="#",data-target='#surveyPicker', data-toggle='modal')
									| Add Survey
									span.glyphicon.glyphicon-plus(style="margin-left:10px")
					if donation.surveys && donation.surveys.length > 0
						.panel-body
							.row
								.col-md-12
									.panel-group#accordion
										each survey, index in donation.surveys
											.panel.panel-default
												.panel-heading
													h4.panel-title 
														a(data-toggle="collapse", data-parent="#accordion", href="#"+survey._id+index, style="color:#2CA4A5;") 
															.row
																.col-xs-10
																	=survey.title
																	="("+survey.results.length+")"
																	=" - "+dateChange.goodstr(survey.created)
																.col-xs-2
																	a.btn.btn-danger(ng-click='deleteSurvey("'+index+'","'+survey._id+'")')
																		span.glyphicon.glyphicon-remove

												.panel-collapse.collapse.panel-info(id=survey._id+index)
													.col-md-12
														.panel.panel-success(style='margin:10px')
															.panel-heading
																.row
																	.col-xs-11
																		h4 Name - Value
																	.col-xs-1
																		a.btn.btn-warning.btn-sm(ng-click='showResultModal("'+index+'","'+survey._id+'")')
																			span.glyphicon.glyphicon-plus
															ul.list-group
																each results, res_index in survey.results
																	li.list-group-item
																		.row
																			.col-md-12
																				h4(style='display:inline')=results.key 
																				if (results.type == "mc" || results.type == "list") && results.value && results.value.split
																					=" - " + results.value.split("__").join(", ")
																				else
																					=" - " + results.value
																				.btn-group.pull-right
																					a.btn.btn-success(ng-click='showResultModal("'+index+'","'+survey._id+'","'+res_index+'","'+results._id+'")')
																						span.glyphicon.glyphicon-pencil
																					a.btn.btn-danger(ng-click='deleteSurveyResult("'+index+'","'+survey._id+'","'+res_index+'","'+results._id+'")')
																						span.glyphicon.glyphicon-remove
		include resultcreator_modal																					
		include samples_sampleModal
		include surveypicker_modal