.modal.fade#resultCreator(tabindex="-1", role="dialog", aria-labelledby="resultCreatorLabel",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true") &times
					span.sr-only Close
				h4.modal-title#resultCreatorLabel Add Result:
			.modal-body
				form.form-horizontal(name='resultCreater')
					.form-group
						.col-md-3
							label Name:
						.col-md-9
							input.form-control(type='text', ng-model='result.name', required='')
					
					.form-group(ng-init='result.type = "txt"')
						.col-md-3
							label Type:
						.col-md-9
							select.form-control(ng-model='result.type')
								option(value='list') List
								option(value='txt') Text

					.form-group(ng-show='result.type == "list"', ng-init="result.list = []")
						.col-sm-12
							label Values:
						.col-sm-6
							.input-group
								input.form-control(ng-model="list_value")
								span.input-group-btn
									button.btn.btn-default(type='button',ng-disabled="list_value == '' || list_value == null", ng-click="result.list.push(list_value);list_value = ''")
										span.glyphicon.glyphicon-plus
						.col-sm-6
							.panel.panel-default
								.panel-heading Values
								ul.list-group
									li.list-group-item(ng-repeat="list_answer in result.list track by $index") 
										.row
											.col-sm-9
												{{list_answer}}
											.col-sm-3
												button.btn.btn-custom.btn-sm(type='button', ng-click="list.splice($index, 1)")
														span.glyphicon.glyphicon-plus
					.form-group(ng-show='result.type == "txt"')
						.col-md-3
							label Value:
						.col-md-9
							input.form-control(type='text', ng-model='result.value', ng-required='result.type == "txt"')
				
													
			.modal-footer
				a.btn.btn-success(ng-click='addResult()', ng-disabled='!resultCreater.$valid || (result.type == "list") && result.list.length <= 0')
					span Go
				button.btn.btn-default(type="button",data-dismiss="modal")
					span Close						