extends ../template
block js
	script(type='text/javascript').
		bioApp.controller('samplesViewController', function($scope, $http) {
				$scope.deleteSample = function(id, number)
				{
					var d = new Date().toDateString().split(" ").slice(1).join("-");
					deleteConfirm("these samples?, NOTE: These will remove a total of "+number+" sample(s)", function(result) {
						if(result)
							$http.get('/donation/'+id+'/delete/'+d).success(function(data) {
								location.reload(true);
							})
					})
				}
				deleteConfirm = function(name, callback)
				{
					bootbox.confirm("Do you wish to delete "+name, function(result) {
						if(result)
						{
							bootbox.confirm("Are you sure, THIS WILL NEVER BE UNDONE!", function(result) {
								callback(result)
							}); 
						}
						else
						{
							callback(false)
						}
						
					}); 
				}
		});
block content
	#page-wrapper.container-fluid(ng-controller='samplesViewController')
		h1.page-header
			.row
				.col-md-10 Samples
		.row.two
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-9
								h4 Samples:
							.col-md-3.pull-left
								.btn-group
										a.btn-custom.btn.btn-sm(href="/donation")
											span.glyphicon.glyphicon-plus(style='margin-right:10px')
											| Add Sample

					if donations && donations.length > 0
						ul.list-group
							each donation in donations
								li.list-group-item
									.row
										.col-md-8

											-var patient = (donation.patient) ? donation.patient.firstname + " " + donation.patient.lastname : "N/A";
											-var id = (donation.patient) ? donation.patient._id : "" 
											h4
												
												if id != ""
													a(href='/patient/'+donation.patient._id)
														span.glyphicon.glyphicon-user
												else
													= " " + patient
												small(style='margin-left:10px')= "Taken: "+dateChange.nicestr(donation.date)
										.col-md-2
											p Samples: 
												b= donation.samples.length
										.col-md-2
											.btn-group
												a.btn-danger.btn.btn-sm(ng-click='deleteSample("'+donation.id+'",'+donation.samples.length+')')
													span.glyphicon.glyphicon-remove
												a.btn-primary.btn.btn-sm(href="/sample/details/"+donation.id)		
													span.glyphicon.glyphicon-search
					else
						.panel-body
							p.text-center No Samples at this time.



											
						
							