extends ../template
block js
	script(type='text/javascript').
			var local_sampletypes =!{JSON.stringify(sampletypes)}; 

			var local_patient =!{(patient) ? JSON.stringify(patient) : "null"}; 

	script(src='/js/controllers/donation_storage_controller.js')

block content
	#page-wrapper.container-fluid(ng-controller="donationStorageController")
		.row
			.col-lg-12
				h1.page-header Store Samples
					if patient
						small(style="margin-left:10px")= patient.firstname + " " + patient.lastname
		.row
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-12
								h4 Samples Storage:

					ul.list-group
						li.list-group-item(ng-repeat='sample in samplesArr track by $index')
							.row
								.col-xs-4.col-md-2
									button.btn.btn-custom.btn-sm(type='button', ng-click='removeSample($index)')
										span.glyphicon.glyphicon-remove
								.col-xs-4.col-md-2
									h5(style='margin-top:10px') {{sample.name}}:
								.col-xs-4.col-md-2(style='margin-bottom: 10px;')
									.sample(style='background-color:{{sample.color}}')
								.col-xs-12.col-md-6
									.input-group
										.input-group-btn
											button.btn.btn-info(ng-disabled='sample.number<=0', ng-click='sample.number = sample.number-1')
												span.glyphicon.glyphicon-minus
										input.form-control(type="number", ng-model="sample.number")
										.input-group-btn
											button.btn.btn-success(ng-click='sample.number = sample.number+1')
												span.glyphicon.glyphicon-plus
					.panel-body(ng-show="samplesArr.length>0")

						form(action='/donation/create',method='post')
							if patient
								input(type='hidden', name='patient', value=patient._id)
							div(ng-hide='true', ng-repeat="sample in samplesArr track by $index")
								input(type='hidden', name='samples[{{$index}}][number]', value="{{sample.number}}")
								input(type='hidden', name='samples[{{$index}}][type]', value="{{sample._id}}")
							.form-group
								label.col-sm-2 Freezer:
								.col-sm-2
									select.form-control(style= "margin-bottom: 7px;",name='freezer',ng-model='freezer' ng-change='getTubeSizes(freezer)')
										each freezer in freezers
											option(value=freezer._id)= freezer.name
								label.col-sm-2 Tube Size:
								.col-sm-2
									select.form-control(style= "margin-bottom: 7px;", name='tube', ng-model='tube', ng-options='tube.name for tube in tubesizes', ng-change="getAvailableSpace(freezer,tube)")
										//- each freezer in freezers
										//- 	option(value=freezer._id)= freezer.name
									//- tube==null || availableSpace <= 0
								.col-sm-2
									button.btn.btn-info.btn-lg(style= "margin-bottom: 7px;",type="submit", ng-disabled='disabledFunction() || freezer==null')
										span Store
										span.glyphicon.glyphicon-save(style='margin-left:5px')
								label.col-sm-2 Available Spaces
									.col-sm-12 
										p.text-center
											b {{availableSpace}}
		.row(ng-hide='samplesArr.length == sampleTypes.length')
			.col-sm-10.col-sm-offset-1
				.container-fluid
					.well.well-sm.col-sm-12
						.form-group
							.col-sm-10
								label Type
								select.form-control(ng-model='sampleTypeAdd', ng-options='sample.name for sample in sampleTypes | filter: filterFunction')
							.col-sm-2(ng-show="filterFunction(sampleTypeAdd)")
								button.btn.btn-default(type='button', style="margin-top:25px;", ng-click='addSample()')
									span.glyphicon.glyphicon-plus