extends ../template

block js
	script(src='/js/controllers/survey_result_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller="surveyResultController")
		.row
			h1.page-header.col-lg-12
				span Survey Preview
		.row.two
			.container-fluid
				.col-md-12
					.panel.panel-primary
						.panel-heading.large 
							h2= survey.title
						.panel-body
							-var Preview = true;
							include survey_layout
							.row
								.col-sm-2.col-xs-4.text-center
									buton.btn.btn-custom.btn-lg(type="button", onclick='$("[name=\'surveyForm\']").submit()') 
										span.glyphicon.glyphicon-floppy-disk(style='margin-right:5px')
										span Save
					
