extends ../template

block js
	if edit && survey
		script(type='text/javascript').
			var local_survey =!{JSON.stringify(survey)}; 
	else
		script(type='text/javascript').
			var local_survey = null;
	
	script(src='/js/controllers/survey_form_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller="surveyController")
		.row.two
			.container-fluid
				.col-md-12
					.panel.panel-primary
						.panel-heading.large 
							if edit
								h1 Update Survey:
							else
								h1 New Survey:
						.panel-body
							form.form-horizontal(name='compForm', method='post', action='/echo')
								.form-group
									label.col-sm-2 Survey Title:
									.col-sm-6
										input.form-control(type='text', required="", ng-model='title')
								.form-group
									label.col-sm-2 Survey Description:
									.col-sm-10
										textarea.form-control(rows="2",ng-model="description", style="resize: none;")
								.form-group
									label.col-sm-2 # Of Questions:
									.col-sm-2
										.input-group
											label.form-control.text-center {{questions.length}}
											.input-group-btn
												button.btn.btn-default(type="button", ng-click="addQuestion()")
													span.glyphicon.glyphicon-plus
												button.btn.btn-default(type="button", ng-click="removeQuestion()", ng-disabled='questions.length<2')
													span.glyphicon.glyphicon-minus
								.row.two
									.col-sm-12
										.container-fluid(ng-repeat='question in questions track by $index')
											.col-sm-1
												div(ng-hide='$index == 0')
													a.btn-custom.btn-md.btn(ng-click="removeAdvancedQuestion(questions, $index)")
														span.glyphicon.glyphicon-remove
											.well.well-sm.col-sm-11
												.row
													.col-sm-3
														h4.page-header(style='margin-top:7px') Question {{$index+1}}:
													.col-sm-8
														input.form-control(type='text', required="", ng-model="question.name")
												.form-group
													label.col-sm-6 Type:
													.col-sm-6
														select.form-control(ng-model="question.type", ng-change='questionType(question)')
															option(value='txt') Free Text
															option(value='mc') Multiple Answers (Tickbox)
															option(value='dd') Fixed Answer (Dropdown)
															option(value='list') List Answer

												.form-group(ng-hide='question.type == "txt" || question.type == "list" || question.advancedSpecify')
													label.col-sm-11.col-xs-8 Specify:
													.col-sm-1.col-xs-4
														a.btn-md.btn(ng-class='{"btn-warning":!question.specify, "btn-success":question.specify}', ng-click='question.specify = !question.specify')
															span.glyphicon(ng-class='{"glyphicon-asterisk":!question.specify, "glyphicon-ok":question.specify}')

												.form-group(ng-hide='question.type == "txt" || question.type == "list" || question.specify')
													label.col-sm-11.col-xs-8 Advanced Specify Questions:
													.col-sm-1.col-xs-4
														a.btn-md.btn(ng-class='{"btn-warning":!question.advancedSpecify, "btn-success":question.advancedSpecify}', ng-click='question.advancedSpecify = !question.advancedSpecify')
															span.glyphicon(ng-class='{"glyphicon-asterisk":!question.advancedSpecify, "glyphicon-ok":question.advancedSpecify}')

												.row(ng-hide='question.type == "txt" || question.type == "list"')
													.container.col-sm-12
														.panel.panel-info
															.panel-heading
																.row
																	h2.panel-title
																		.col-xs-8.col-sm-11 Answer
																		.col-xs-4.col-sm-1
																			a.btn-primary.btn-md.btn(ng-click='addAnswer(question.answers)')
																				span.glyphicon.glyphicon-plus
															ul.list-group
																li.list-group-item(ng-repeat="answer in question.answers track by $index")
																	.form-group
																		label.col-sm-2 Value {{$index+1}}:
																		div(ng-class='{"col-sm-8": question.specify, "col-sm-9":!question.specify}')
																			input.form-control(type='text', ng-required="question.type != 'txt' && question.type != 'list'", ng-model="answer.name")

																		.col-sm-2(ng-show='question.specify')
																			.btn-group.btn-block
																					a.btn-md.btn(ng-class='{"btn-warning":!answer.specify, "btn-success":answer.specify}', ng-click='answer.specify = !answer.specify')
																						span.glyphicon(ng-class='{"glyphicon-asterisk":!answer.specify, "glyphicon-ok":answer.specify}')

																					a.btn-danger.btn-md.btn(ng-click='removeAnswer(question.answers, $index)', ng-disabled='question.answers.length<2')
																						span.glyphicon.glyphicon-remove

																		.col-sm-1(ng-hide='question.specify')
																			a.btn-danger.btn-md.btn(ng-click='removeAnswer(question.answers, $index)', ng-disabled='question.answers.length<2')
																						span.glyphicon.glyphicon-remove
												.row(ng-hide='question.type == "txt" || question.specify')
													.container.col-sm-12
														.container(ng-show='question.advancedSpecify').col-sm-12
															.panel.panel-success
																.panel-heading
																	.row
																		h2.panel-title
																			.col-xs-8.col-sm-11 Advanced Questions
																			.col-xs-4.col-sm-1
																				a.btn-primary.btn-md.btn(ng-click='addAdvancedQuestion(question.advanced_questions)')
																					span.glyphicon.glyphicon-plus
																ul.list-group
																	li.list-group-item(ng-repeat='advanced_question in question.advanced_questions track by $index')
																		.row
																			.col-sm-1.pull-right
																				a.btn-danger.btn-md.btn(ng-click="removeAdvancedQuestion(question.advanced_questions, $index)")
																					span.glyphicon.glyphicon-remove

																			.container.col-sm-11
																				.well.well-sm
																					.row
																						.col-sm-3
																							h6.page-header(style='margin-top:7px') Advanced Question {{$index+1}}:
																						.col-sm-9
																							input.form-control(type='text',ng-required="question.advancedSpecify" , ng-model="advanced_question.name")
																					.form-group
																						label.col-sm-6 Type:
																						.col-sm-6
																							select.form-control(ng-model="advanced_question.type")
																								option(value='txt') Free Text
																								option(value='mc') Multiple Answers (Tickbox)
																								option(value='dd') Fixed Answer (Dropdown)
																								option(value='list') List Answer

																					.row(ng-hide='advanced_question.type == "txt"')
																						.col-sm-12
																							.container-fluid
																								.panel.panel-info
																									.panel-heading
																										.row
																											h2.panel-title
																												.col-xs-10 Answer
																												.col-xs-2
																													a.btn-primary.btn-md.btn(ng-click="addAnswer(advanced_question.answers)")
																														span.glyphicon.glyphicon-plus
																									ul.list-group
																										li.list-group-item(ng-repeat="adv_answers in advanced_question.answers track by $index")
																											.form-group
																												label.col-xs-2 Adv Question Value {{$index+1}}:

																												.col-xs-8
																													input.form-control(type='text', required="", ng-model="adv_answers.name")
																												.col-xs-2
																													a.btn-danger.btn-md.btn(ng-click='removeAnswer(advanced_question.answers, $index)', ng-disabled='advanced_question.answers.length<2')
																														span.glyphicon.glyphicon-remove
							.panel-body
								.form-group
									.col-sm-8.col-sm-offset-2.col-xs-12
										.col-sm-2.col-xs-4.text-center
											a.btn.btn-custom.btn-lg(href="/settings/surveys") 
												span.glyphicon.glyphicon-arrow-left(style='margin-right:5px')
												span Back

										.col-sm-2.col-xs-4.text-center.col-sm-offset-3
											button.btn.btn-custom.btn-lg(type="submit", ng-click="previewData(true)", ng-disabled="!compForm.$valid") 
												span(style='margin-right:5px') 
													if edit
														| Update 
													else
														| Save 
												span.glyphicon.glyphicon-floppy-disk

										.col-sm-2.col-xs-4.text-center.pull-right
											a.btn.btn-custom.btn-lg(type="button", ng-click="previewData(false)", ng-disabled="loading || !compForm.$valid") 
												span(style='margin-right:5px')
													span(ng-show='loading') Loading
													span(ng-hide='loading') Preview
												span.glyphicon.glyphicon-list-alt(ng-class='{"glyphicon-list-alt":!loading, "glyphicon-refresh":loading}')