.container-fluid(ng-init='question_list = {}; list = {}')
	-var action = ''
	if donation && survey
		-action = '/donation/'+donation._id+'/survey/add/'+survey._id
		//-action = '/echo'

	form.form-horizontal(name='surveyForm', method=((preview) ? "get" : "post"), action=action, ng-init="questions = []")
		if donation && survey
			input(type='hidden', name='survey[title]', value=survey.title)
			input(type='hidden', name='survey[_id]', value=survey._id)
			-var created = new Date();
			input(type='hidden', name='created', value=created)


		each question, index in survey.questions
			.row
				.container-fluid
					.row
						.well.well-sm.col-sm-12
							.row
								.col-sm-12
									-var textname = (index+1)+") "+question.name+"?"
									label.col-sm-12
										h4= textname
							.row
								.col-sm-12
									-var root_question = question
									-var qIndex = index
									include questions/questions_root
							if question.advancedSpecify
								.row(style='margin-top:10px')
									.container-fluid
										.panel.panel-default
											.panel-heading= question.name+":"
											ul.list-group
												each adv_q, adv_index in question.advanced_questions
													li.list-group-item
														.row
															.col-sm-12
																p
																	b=(index+1)+"."+(adv_index+1)+") "
																	span=adv_q.name+":"
														.row
															.col-sm-12
																.container-fluid
																	-var root_question = adv_q
																	-var qIndex = index
																	-var adIndex = adv_index
																	include questions/questions_root
		if donation && survey
			input.btn.btn-success.btn-lg(type="submit", value='Submit')