meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1")
link(href="/css/fileinput.min.css",rel="stylesheet")
link(href="/css/colorpicker.css",rel="stylesheet")
link(href="/css/bootstrap.min.css",rel="stylesheet")
link(href="/css/bootstrap-theme.css",rel="stylesheet")
link(href="/css/datepicker.css",rel="stylesheet")
link(href="/css/sbadmin.css",rel="stylesheet")
link(href="/fonts/font-extra/css/font-awesome.min.css",rel="stylesheet")
link(href="/css/menu.css",rel="stylesheet")
//- link(href="/css/morris.css",rel="stylesheet")
link(href="/css/glyphicons.css",rel="stylesheet")
link(href="/css/style.css",rel="stylesheet")

link(href="/bootstrap-lightbox/bootstrap-lightbox.css",rel="stylesheet")
link(href="/bootstrap-lightbox/bootstrap-lightbox.min.css",rel="stylesheet")

