.modal.fade#helpModal(tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true") &times;
					span.sr-only Close
				h4.modal-title.modal-primary(id="modalTitle") Need Help?

			.modal-body
				p Let Us know what you need assistance with and we will get back to within 24 hours.
				form.form-horizontal(method='post' action='/help')
					.form-group
						label.col-sm-2 Name:
						.col-sm-10
							input.form-control(type='text', required="", name='name', placeholder='Name')
					.form-group
						label.col-sm-2 Email:
						.col-sm-10
							input.form-control(type='email', name='email', placeholder='Email')
					.form-group
						label.col-sm-2 Contact Number:
						.col-sm-10
							input.form-control(type='text', name='number', placeholder='Contact Number')
					.form-group
						.col-sm-12
							textarea.form-control(rows="5",style='resize:none' name='message' placeholder="Message / Comment")
					
					input(type='hidden', name='user', value=user.name)

					button.btn.btn-lg.btn-primary.btn-block(type="submit") Send
					
			.modal-footer
				a.btn-danger.btn.pull-left(data-dismiss="modal") Cancel