nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;')
	.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='#', style='padding:5px')
			img(style='width:150px',src='/images/logo.png', alt='logo image')
	if user && user.name
		.navbar-left.navbar-text(style="padding: 0px;margin: 0px;margin-top: 26px;margin-left: 15px;height: 0px;")
			p= user.name + " "
				span.glyphicon.glyphicon-user
	ul.nav.navbar-top-links.navbar-right
		li
			a(href='/logout')
				i.fa.fa-sign-out.fa-fw
				|	Logout

	.navbar-default.sidebar(role='navigation')
		.sidebar-nav.navbar-collapse
			ul#side-menu.nav(style='background-color:#f8f8f8')
				each nav in locals.navbar.side_bar
					li
						if nav.level2.length > 0
							a(href="#")
								i.fa.fa-fw(class="fa-"+nav.icon, style='margin-right:10px')
								= nav.name
								span.fa.arrow
							ul.nav.nav-second-level
									each inerNav, leve2_index in nav.level2
										if level2_index != 0
											if level2_index == nav.level2.length-1
												- var style = "box-shadow: inset 0 2px 0 rgba(255,255,255,.15),0 2px 5px rgba(0,0,0,.075);";
											else
												- var style = "border-top: 1px solid #e7e7e7 !important;";
										
										li(style=style,index=level2_index)
											a(href=inerNav.location)
												i.fa.fa-fw(class="fa-"+inerNav.icon, style='margin-right:10px')
												= inerNav.name
						else
							a(href=nav.location)
								i.fa.fa-fw(class="fa-"+nav.icon, style='margin-right:10px')
								= nav.name
